<template>
<div>
        <loading v-if="loading"></loading>
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">History</h1>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="riwayat">
                    <!-- <div class="judul-besar" v-for="post of posts" :key="post.id">
                        <h5>{{post.typename}}</h5>
                        <a v-b-tooltip.hover title="Setting Option" v-b-modal.modal-1><i class="fa fa-cog"></i></a>
                    </div> -->
                    <b-tabs content-class="mt-3">
                        <div v-for="post of posts" :key="post.id">
                            <b-tab :title="post.typename" @click="getRiwayat(post.masterhistoryid)">

                                <div v-if="kahiji">
                                    <ul v-for="(first, index) of firstdata" :key="index" class="list-none">
                                        <li>
                                            <div class="historical">
                                                <h6>{{first.historyname}}</h6>
                                                <small>{{first.yearfrom}} - {{first.yearto}}</small>
                                                <div class="desc-detail">
                                                    <label>Description:</label>
                                                    <div v-html="first.description"></div>
                                                </div>
                                                <div class="editdetail">
                                                    <button class="btn btn-sm btn-info" @click="detailData(index)">Edit</button>
                                                    <button class="btn btn-sm btn-danger" @click="deleteData(first.historyid)">Delete</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul v-for="(item, index) of detail" :key="index" class="list-none">
                                    <li>
                                        <div class="historical">
                                            <h6>{{item.historyname}}</h6>
                                            <small>{{item.yearfrom}} - {{item.yearto}}</small>
                                            <div class="desc-detail">
                                                <label>Description:</label>
                                                <div v-html="item.description"></div>
                                            </div>
                                            <div class="editdetail">
                                                <button @click="detailData(index)" class="btn btn-sm btn-info">Edit</button>
                                                <button class="btn btn-sm btn-danger" @click="deleteData(item.historyid)">Delete</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn btn-primary"  v-b-modal.modal-1 @click="getId(post.masterhistoryid)">Add Data</button>
                            </b-tab>
                        </div>
                    </b-tabs>
                </div>
            </div>
        </div>

         <!-- modal 1 -->
        <b-modal id="modal-1" title="Add Data" centered @ok="addData">
            <div body-class>
                <div>
                <div class="form-group">
                    <label>Organization</label>
                    <input type="text" class="form-control" v-model="input.historyname">
                </div>
                <div class="form-group">
                    <label>Start Year</label>
                    <input type="number" class="form-control" v-model="input.yearfrom">
                </div>
                <div class="form-group">
                    <label>End Year</label>
                    <input type="number" class="form-control" v-model="input.yearto">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <ckeditor :editor="editor" v-model="input.description"></ckeditor>
                 </div>
            </div>
            </div>
        </b-modal>

         <!-- modal 2 -->
        <b-modal id="modal-2" title="Edit Data" centered @ok="saveEdit">
            <div body-class>
                <div>
                <div class="form-group">
                    <label>Organization</label>
                    <input type="text" class="form-control" v-model="edit.historyname">
                </div>
                <div class="form-group">
                    <label>Start Year</label>
                    <input type="number" class="form-control" v-model="edit.yearfrom">
                </div>
                <div class="form-group">
                    <label>End Year</label>
                    <input type="number" class="form-control" v-model="edit.yearto">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <ckeditor :editor="editor" v-model="edit.description"></ckeditor>
                 </div>
            </div>
            </div>
        </b-modal>

</div>
</template>
<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import axios from 'axios'
import {HTTP} from '@/js/url/http-common.js'
import Loading from '@/js/components/komponen/Loading'
export default {
    data () {
        return {
            editor: ClassicEditor,
            footer:true,
            message:'',
            posts:[],
            loading:false,
            firstid:null,
            firstdata:[],
            kahiji:true,
            detail:[],
            id_master:null,
            input:[],
            edit:[],
            masterhistoryid: null
        }
    },
    components: {
        Loading
    },
    created() {
        this.loading = true
        HTTP.get('masterhistory',{
            headers:{
                Authorization:'wisp '+this.$cookie.get('token') 
            }
        })
        .then(response => {
            this.posts = response.data.result
            this.firstid = response.data.result[0].masterhistoryid
            this.loading = false
            this.firstData()
            
        })
        .catch(error => {
            if (error.response) {
                this.message = "Data failed";
            }
        })
    },

    methods:{
        getRiwayat(id){
            HTTP.get('detailhistory/filter/'+id,{
                headers:{
                    Authorization:'wisp '+this.$cookie.get('token') 
                }
            })
            .then(response => {
                this.detail = response.data.result
                this.kahiji =false
            })
            .catch(error => {
                if (error.response) {
                    this.message = "Data failed";
                }
            })
        },
        firstData(){
            HTTP.get('detailhistory/filter/'+this.firstid,{
                headers:{
                    Authorization:'wisp '+this.$cookie.get('token') 
                }
            })
            .then(response => {
                this.firstdata = response.data.result
                this.getRiwayat(this.posts[0].masterhistoryid)
            })
            .catch(error => {
                if (error.response) {
                    this.message = "Data failed";
                }
            })
        },
        getId(idnya){
            this.id_master = idnya
        },
        addData(){
            
            HTTP.post('detailhistory/add',{
                historyname: this.input.historyname,
                yearfrom	: this.input.yearfrom,
                yearto		: this.input.yearto,
                description: this.input.description,
                masterhistoryid: this.id_master
            },
            {
                headers:{
                    'Content-Type': 'application/json',
                    Authorization:'wisp '+this.$cookie.get('token') 
                }
            })
            .then(response => {
                this.$swal(
                'Success!',
                'Your data has been added.',
                'success'
                )
                setTimeout(function(){ location.reload(); }, 1500);
            })
            .catch(error => {
                if (error.response) {
                    this.message = "Data failed";
                }
            })
        },
        detailData(boyah){
            this.edit = this.detail[boyah]
            this.masterhistoryid = this.detail[boyah].masterHistory.masterhistoryid
            this.$bvModal.show('modal-2')   
        },
        saveEdit(){
            HTTP.post('detailhistory/edit',{
                historyname: this.edit.historyname,
                yearfrom	: this.edit.yearfrom,
                yearto		: this.edit.yearto,
                description: this.edit.description,
                historyid: this.edit.historyid,
                masterhistoryid: this.masterhistoryid
            },
            {
                headers:{
                    'Content-Type': 'application/json',
                    Authorization:'wisp '+this.$cookie.get('token') 
                }
            })
            .then(response => {
                this.$swal(
                'Success!',
                'Your data has been edited.',
                'success'
                )
                setTimeout(function(){ location.reload(); }, 1500);
            })
            .catch(error => {
                if (error.response) {
                    this.message = "Data failed";
                }
            })
        },
        deleteData(riwayatid) {
            this.$swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    HTTP.delete('detailhistory/delete/'+riwayatid,{
                        headers:{
                            Authorization:'wisp '+this.$cookie.get('token') 
                        }
                    })
                    .then(response => {
                        if(response.data.resultStatus == "OK"){
                            this.$swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                            )
                            setTimeout(function(){ location.reload(); }, 1500);
                        }else{
                            this.$swal({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!'
                            })
                        }
                        
                    })
                    .catch(error => {
                        if (error.response) {
                            this.message = "Delete data failed";
                            this.$swal({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!'
                            })
                        }
                    })

                }
            })
        }
    }

}
</script>