<template>
<div>
    <loading v-if="loading"></loading>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Information</h1>
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" v-b-modal.modal-3><i class="fas fa-plus fa-sm text-white-50"></i> Add Data</button>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr v-for="post of posts" :key="post.id">
                      <td>{{post.title}}</td>
                      <td >
                          <button @click="editData(post.infoid)" class="btn btn-sm btn-info" v-b-modal.modal-2>Edit</button>
                          <button @click="detailData(post.infoid)" class="btn btn-sm btn-primary" v-b-modal.modal-1>Detail</button>
                          <button @click="deleteData(post.infoid)" class="btn btn-sm btn-danger">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- modal 1 -->
    <b-modal id="modal-1" title="Detail User" centered ok-only>
        <div body-class>
            <div class="row">
                <div class="col-md-4">
                    <div class="img-ava">
                        <img :src="detail.image" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <table>
                        <tr>
                            <td size=200>Title</td>
                            <td>:</td>
                            <td>{{detail.title}}</td>
                        </tr>
                        <tr>
                            <td size=200>Email</td>
                            <td>:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td size=200>Role</td>
                            <td>:</td>
                            <td>User</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </b-modal>


</div>
</template>
<script>
import {HTTP} from '@/js/url/http-common.js'
import Loading from '@/js/components/komponen/Loading'
import $ from 'jquery'
export default {
    data (){
        return{
            posts:[],
            loading: false,
            detail:[]
        }
    },
    components: {
        Loading
    },
    mounted() {
        this.getData()
    },
    methods:{
        drawDT() {
            $("#dataTable").DataTable().draw();
        },
        async getData() {
            this.loading = true
            $("#dataTable").DataTable().destroy();
            HTTP.get('information',{
                headers:{
                    Authorization:'wisp '+this.$cookie.get('token')
                }
            })
            .then(response => {
                this.posts = response.data.result
                this.$nextTick(this.drawDT);
                this.loading = false
                console.log(this.posts)
            })
            .catch(error => {
                if (error.response) {
                    this.message = "Data failed";
                }
            })
        },
        detailData(userid){
            HTTP.get('information/detail/'+userid,{
                headers:{
                    Authorization:'wisp '+this.$cookie.get('token')
                }
            })
            .then(response => {
                this.detail = response.data.result
                console.log(this.detail)
            })
            .catch(error => {
                if (error.response) {
                  
                }
            })
        },
        editData(){

        },
        addData(){
            
        }
        
    }
    
}
</script>
