<template>
<div class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card o-hidden border-0 shadow-lg my-5 froom">
                    <div class="card-body p-0">
                        <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                            <p>{{message}}</p>
                                        </div>
                                        <!-- <form class="user"> -->
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." v-model="email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" v-model="password">
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block" @click="login()">
                                                Login
                                            </button>
                                        <!-- </form> -->
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</template>
<script>
import axios from 'axios'
import { HTTP } from "@/js/url/http-common.js";
var baseUri = "http://128.199.213.155:1010/";
export default {
    data () {
        return {
            email: "",
            password: "",
            respon:[],
            message:""
        }
    },
    components:{

    },
    methods: {
        login() {
            axios({
                method: 'post',
                url: baseUri+'login',
                data: {
                    email: this.email,
                    password: this.password
                },
                validateStatus: (status) => {
                    return true;
                },
            }).catch(error => {
                if (error.response) {
                    this.message = "Authentication failed";

                }
            }).then(response => {
                

                this.respon = response.data.token
                if (this.respon == null){
                    this.message = "Authentication failed";
                    
                }else{
                    // localStorage.setItem('token', this.respon)
                    // const token = this.$cookie.get('token') 
                    this.$cookie.set('namaadmin', response.data.UserDetail.username, { expires: '1h' })
                    this.$cookie.set('gambar', response.data.UserDetail.imageurl, { expires: '1h' })

                    this.$cookie.set('token',this.respon, { expires: '1h' });
                    const token = this.$cookie.get('token')
                    this.$emit("authenticated", true)
                    this.$router.push({ name: "Dashboard" })
                }
            });
        }
    }
}
</script>
<style scoped>
body{
    height: 100%!important;
    background-color: #fff!important;
    background-image: #fff!important;;
    background-size: cover!important;
}
.bg-gradient-primary {
    background-color: #fff!important;
    background-image: #fff!important;;
    background-size: cover!important;
    height: 100vh;
}
.froom{
    margin-top: 30vh!important;
}
</style>