<template>
    <div>
        <loading v-if="loading"></loading>
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Profile</h1>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="batas-title">
                            <h5>Personal Profile</h5>
                        </div>
                        <div class="form-group ">
                            <label>Name</label>
                            <input type="text" class="form-control" v-model="posts.fullname">
                        </div>
                        <div class="form-group">
                            <label>Nick Name</label>
                            <input type="text" class="form-control" v-model="posts.nickname">
                        </div>
                        <div class="form-group">
                            <label>Place of Birth</label>
                            <input type="text" class="form-control" v-model="posts.placeofbirth">
                        </div>
                        <div class="form-group">
                            <label>Religion</label>
                            <input type="text" class="form-control" v-model="posts.religion">
                        </div>
                        <div class="batas-title">
                            <h5>Family</h5>
                        </div>
                        <div class="form-group">
                            <label>Father</label>
                            <input type="text" class="form-control" v-model="posts.father">
                        </div>
                        <div class="form-group">
                            <label>Mother</label>
                            <input type="text" class="form-control" v-model="posts.mother">
                        </div>
                        <div class="form-group">
                            <label>Spouse</label>
                            <input type="text" class="form-control" v-model="posts.spouse">
                        </div>
                        <div class="batas-title">
                            <h5>Children</h5>
                        </div>
                        <div class="form-group">
                            <label>Number of Children</label>
                            <input type="number" class="form-control" v-model="posts.numberofchildren">
                        </div>
                        <div class="form-group">
                            <label>Child 1</label>
                            <input type="text" class="form-control" v-model="posts.child1">
                        </div>
                        <div class="form-group">
                            <label>Child 2</label>
                            <input type="text" class="form-control" v-model="posts.child2">
                        </div>
                        <div class="form-group">
                            <label>Child 3</label>
                            <input type="text" class="form-control" v-model="posts.child3">
                        </div>
                        <div class="form-group">
                            <label>Child 4</label>
                            <input type="text" class="form-control" v-model="posts.child4">
                        </div>
                        <div class="batas-title">
                            <h5>Stories</h5>
                        </div>
                        <div class="form-group">
                            <label>Story 1</label>
                            <ckeditor :editor="editor" v-model="posts.story1"></ckeditor>
                        </div>
                        <div class="form-group">
                            <label>Story 2</label>
                            <ckeditor :editor="editor" v-model="posts.story2"></ckeditor>
                        </div>
                        <div class="form-group">
                            <label>Story 3</label>
                            <ckeditor :editor="editor" v-model="posts.story3"></ckeditor>
                        </div>
                        <div class="batas-title">
                            <h5>Image</h5>
                        </div>
                        <div class="form-group">
                            <label>Image 1</label>
                            <input type="file" class="form-control" v-on:change="onImageChange" accept="image/*">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" @click="editData()">Save Changes</button>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</template>
<script>
import {HTTP} from '@/js/url/http-common.js'
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import Loading from '@/js/components/komponen/Loading'
import axios from 'axios'
var basisUri = "http://localhost:8000/api/edit_profile";
var baseUri = "http://128.199.213.155:1010/";
export default {
    data() {
        return {
            message:'',
            posts:[],
            editor: ClassicEditor,
            image:[],
            ukuran:[],
            loading: false
        }
    },
    components: {
        Loading
    },
    mounted(){
        this.loading = true
        HTTP.get('profile',{
            headers:{
                Authorization:'wisp '+this.$cookie.get('token') 
            }
        })
        .then(response => {
            this.posts = response.data.result[0]
            this.loading = false
            // console.log(this.posts)
            
        })
        .catch(error => {
            if (error.response) {
                this.message = "Data failed";
            }
        })
    },
    methods:{
        onImageChange(e){
            this.image = e.target.files[0]
            this.ukuran = e.target.files[0].size
            console.log(this.image.type)
        },
        editData(){
            
            const heding = {
                headers:{
                    'content-type': 'multipart/form-data',
                    Authorization:'Bearer '+this.$cookie.get('token') 
                }
            }
             
            if(this.image.type == 'image/jpeg'){
                this.aplodImage()
                const imag_profile = localStorage.getItem('img_profile')
                axios({
                method: 'post',
                url: baseUri+'profile/edit',
                headers:{
                    Authorization:'wisp '+this.$cookie.get('token')
                },
                data: {
                    id: this.posts.id,
                    fullname: this.posts.fullname,
                    nickname: this.posts.nickname,
                    placeofbirth: this.posts.placeofbirth,
                    dateofbirth: this.posts.dateofbirth,
                    religion: this.posts.religion,
                    father: this.posts.father,
                    mother: this.posts.mother,
                    spouse: this.posts.spouse,
                    numberofchildren: this.posts.numberofchildren,
                    child1: this.posts.child1,
                    child2: this.posts.child2,
                    child3: this.posts.child3,
                    child4: this.posts.child4,
                    story1: this.posts.story1,
                    story2: this.posts.story2,
                    story3: this.posts.story3,
                    image1: imag_profile,
                    image2: this.posts.image2,
                    image3: this.posts.image3,
                    image4: this.posts.image4
                },
                validateStatus: (status) => {
                    return true;
                },
                }).catch(error => {
                    if (error.response) {
                        this.$swal({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!'
                        })
                    }
                }).then(response => {
                    
                    this.$swal(
                    'Success!',
                    'Your data has been added.',
                    'success'
                    )
                    setTimeout(function(){ location.reload(); }, 1500);
                    
                   
                });


            }else{
                alert(this.posts.fullname)
            }
        },
        aplodImage(){
            const config = {
                headers:{
                    'content-type': 'multipart/form-data'
                }
            }
            let formData = new FormData();
            formData.append('image', this.image);
            axios.post(basisUri,formData, config)
            .then(response => {      
                localStorage.setItem('img_profile', response.data.image_url)

            })
            .catch(error => {
                if (error.response) {
                    this.message ="Upload gagal!"
                }
            })
        }
    }
}
</script>