<template>
<div>
    <loading v-if="loading"></loading>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">User</h1>
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" v-b-modal.modal-3><i class="fas fa-plus fa-sm text-white-50"></i> Add Data</button>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nama</th>
                      <th>Email</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr v-for="post of posts" :key="post.id">
                      <td>{{post.username}}</td>
                      <td>{{post.email}}</td>
                      <td >
                          <button @click="editData(post.userid)" class="btn btn-sm btn-info" v-b-modal.modal-2>Edit</button>
                          <button @click="detailData(post.userid)" class="btn btn-sm btn-primary" v-b-modal.modal-1>Detail</button>
                          <button @click="deleteData(post.userid)" class="btn btn-sm btn-danger">Delete</button>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
    </div>
    
    <!-- modal 1 -->
    <b-modal id="modal-1" title="Detail User" centered ok-only>
        <div body-class>
            <div class="row">
                <div class="col-md-4">
                    <div class="img-ava">
                        <img :src="detail.imageurl" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <table>
                        <tr>
                            <td size=200>Nama</td>
                            <td>:</td>
                            <td>{{detail.username}}</td>
                        </tr>
                        <tr>
                            <td size=200>Email</td>
                            <td>:</td>
                            <td>{{detail.email}}</td>
                        </tr>
                        <tr>
                            <td size=200>Role</td>
                            <td>:</td>
                            <td v-if="detail.roleid == 1">Administrator</td>
                            <td v-else>User</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </b-modal>

    <!-- modal 2 -->
    <b-modal id="modal-2" title="Edit User" centered @ok="editSave">
        <div body-class>
            <div>
                <center style="color:red;">{{confirmmesage}}</center>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" v-model="detail.username">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" v-model="detail.email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model="password">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" v-model="co_password">
                </div>
                <div class="form-group">
                    <label>Image Url</label>
                    <input type="text" class="form-control" v-model="detail.imageurl">
                </div>
            </div>
        </div>
    </b-modal>

    <!-- modal 3 -->
    <b-modal id="modal-3" title="Add User" centered @ok="addSave">
        <div body-class>
            <div>
                <center style="color:red;">{{confirmmesage}}</center>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" v-model="add.username">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" v-model="add.email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model="add.password">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" v-model="add.co_password">
                </div>
                <div class="form-group">
                    <label>Image Url</label>
                    <input type="text" class="form-control" v-model="add.imageurl">
                </div>
            </div>
        </div>
    </b-modal>

</div>
</template>
<script>
import axios from 'axios'
import {HTTP} from '@/js/url/http-common.js'
import Loading from '@/js/components/komponen/Loading'
import $ from 'jquery'
require('datatables.net')
require('datatables.net-bs')
var baseUri = "http://128.199.213.155:1010/";
export default {
    data () {
        return {
            posts:[],
            message: "",
            detail:[],
            password:null,
            co_password:null,
            confirmmesage:"",
            add:{
                co_password: null,
                email: null,
                imageurl: null,
                password: null,
                username: null,
            },
            loading:false
        }
    },
    components: {
        Loading
    },
    
    mounted() {
        this.getData()
    },
    methods:{
        addSave() {
            this.$swal('Tambah Data')
            axios({
            method: 'post',
            url: baseUri+'user/add',
            headers:{
                Authorization:'wisp '+this.$cookie.get('token')
            },
            data: {
                userid: this.add.userid,
                username: this.add.username,
                email: this.add.email,
                password: this.add.password,
                imageurl: this.add.imageurl,
                roleid:1
            },
            validateStatus: (status) => {
                return true;
            },
            }).catch(error => {
                if (error.response) {
                    this.$swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!'
                    })
                }
            }).then(response => {
                this.$swal(
                'Success!',
                'Your data has been added.',
                'success'
                )
                setTimeout(function(){ location.reload(); }, 1500);
            });
                    
        },
        drawDT() {
            $("#dataTable").DataTable().draw();
        },
        async getData() {
            this.loading = true
            $("#dataTable").DataTable().destroy();
            HTTP.get('user',{
                headers:{
                    Authorization:'wisp '+this.$cookie.get('token')
                }
            })
            .then(response => {
                this.posts = response.data.result
                this.$nextTick(this.drawDT);
                this.loading = false
            })
            .catch(error => {
                if (error.response) {
                    this.message = "Data failed";
                }
            })
        },
        detailData(userid){
            HTTP.get('user/detail/'+userid,{
                headers:{
                    Authorization:'wisp '+this.$cookie.get('token')
                }
            })
            .then(response => {
                this.detail = response.data.result
                console.log(this.detail)
            })
            .catch(error => {
                if (error.response) {
                  
                }
            })
        },
        deleteData(userid) {
            this.$swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    HTTP.delete('user/delete/'+userid,{
                        headers:{
                            Authorization:'wisp '+this.$cookie.get('token') 
                        }
                    })
                    .then(response => {
                        if(response.data.resultStatus == "OK"){
                            this.$swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                            )
                            setTimeout(function(){ location.reload(); }, 1500);
                        }else{
                            this.$swal({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!'
                            })
                        }
                        
                    })
                    .catch(error => {
                        if (error.response) {
                            this.message = "Delete data failed";
                            this.$swal({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!'
                            })
                        }
                    })

                }
            })
        },
        editData(userid){
            HTTP.get('user/detail/'+userid,{
                headers:{
                    Authorization:'wisp '+this.$cookie.get('token') 
                }
            })
            .then(response => {
                this.detail = response.data.result
               console.log(this.detail)
            })
            .catch(error => {
                if (error.response) {
                  
                }
            })
        },
        editSave(){
           
            if(this.password != this.co_password){
                this.$swal('Password and Confirmation Passsword not match.')
            }else if(this.password != null && this.password == this.co_password){
                    axios({
                        method: 'post',
                        url: baseUri+'user/edit/',
                        headers:{
                            Authorization:'wisp '+this.$cookie.get('token')
                        },
                        data: {
                            userid: this.detail.userid,
                            username: this.detail.username,
                            email: this.detail.email,
                            password: this.password,
                            imageurl: this.detail.imageurl,
                            roleid:1
                        },
                        validateStatus: (status) => {
                            return true;
                        },
                    }).catch(error => {
                        if (error.response) {
                            this.$swal({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!'
                            })
                        }
                    }).then(response => {
                        this.$swal(
                            'Edited!',
                            'Your file has been edited.',
                            'success'
                        )
                        setTimeout(function(){ location.reload(); }, 1500);
                    });
            }else{

                this.$swal({
                title: 'Atention!',
                text: "Masukan password anda atau Masukan password baru.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, I Agree!'
                }).then((result) => {
                    if (result.value) {
                        axios({
                            method: 'post',
                            url: baseUri+'user/edit/',
                            headers:{
                                Authorization:'wisp '+this.$cookie.get('token')
                            },
                            data: {
                                userid: this.detail.userid,
                                username: this.detail.username,
                                email: this.detail.email,
                                password: this.password,
                                imageurl: this.detail.imageurl,
                                roleid:1
                            },
                            validateStatus: (status) => {
                                return true;
                            },
                        }).catch(error => {
                            if (error.response) {
                                this.$swal({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong!'
                                })
                            }
                        }).then(response => {
                            this.$swal({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Silahkan ulangi lagi!'
                            })
                            setTimeout(function(){ location.reload(); }, 1500);
                        });
                        

                    } //end if
                })
     
            } //end else
              
        }
    }
}
</script>
<style>

@import url('/assets/static/js/plugins/datatables/jquery.dataTables.min.css');


 @import url('/assets/static/js/plugins/datatables/dataTables.bootstrap.css');
/*
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
  content: '\f0dc';
}

table.dataTable thead .sorting_asc:after {
  content: '\f0dd';
}

table.dataTable thead .sorting_desc:after {
  content: '\f0de';
} */

.form-inline {
    display: block!important;
    flex-flow: row wrap;
    align-items: center;
}
div#dataTable_length {
    float: left;
    padding-bottom: 20px;
}
div#dataTable_filter {
    float: right;
    padding-bottom: 20px;
}
</style>