<template>
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; IO Technology 2019</span>
          </div>
        </div>
    </footer>
</template>