<template>
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
       
        <div class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-b-toggle.collapse-1>
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{admin}}</span>
                <img class="img-profile rounded-circle" :src="gambar">
            </a>
            <b-collapse id="collapse-1">
                <div class="dropdown-menu-right menu-user shadow">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" @click="logout">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </b-collapse>
            <!-- <b-collapse id="collapse-1" class="mt-2">
                <b-card>
                <p class="card-text">Collapse contents Here</p>
                <b-button v-b-toggle.collapse-1-inner size="sm">Toggle Inner Collapse</b-button>
                <b-collapse id="collapse-1-inner" class="mt-2">
                    <b-card>Hello!</b-card>
                </b-collapse>
                </b-card>
            </b-collapse> -->
            </li>
        </div>
    </nav>
</template>
<script>
export default {
    data () {
        return {
            modalShow: true,
            admin:"",
            gambar:""
        }
    },
    created (){
        this.admin = this.$cookie.get('namaadmin') 
        this.gambar = this.$cookie.get('gambar')
    },
    methods:{
        logout () {
            // localStorage.removeItem('namaadmin')
            // localStorage.removeItem('gambar')
            // localStorage.removeItem('token')
            // var token_login = this.$cookie.get('token')
            // deleteCookie(token_login);
            this.$cookie.delete('token')
            this.$cookie.delete('namaadmin')
            this.$cookie.delete('gambar')
            this.$router.push("/login")
            
        },
    }
}
</script>