<template>
    <div id="wrapper">
        <sidebar-page></sidebar-page>
        <!-- konten -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <header-page></header-page>
                <content-aplikasi></content-aplikasi>
                <!-- <footer-page></footer-page> -->
            </div>
        </div>

    </div>
</template>

<script>
import HeaderPage from './Header.vue'
import SidebarPage from './Sidebar.vue'
import ContentAplikasi from './DashboardContent.vue'
import FooterPage from './Footer.vue'
import {auth} from '@/js/mixin/auth.js'

export default {
  mixins: [auth],
  data () {
    return {
    }
  },
  components: {
    ContentAplikasi, HeaderPage, SidebarPage, FooterPage
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>