<template>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <img src="/assets/img/startup.svg">
            </div>
            <div class="sidebar-brand-text mx-3">Admin DJ</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active" >
            <router-link to="/home" class="nav-link"> 
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </router-link>
        </li>
        <li class="nav-item" >
            <router-link to="/user-index" class="nav-link"> 
                <i class="fas fa-fw fa-user"></i>
                <span>User</span>
            </router-link>
        </li>
        <li class="nav-item ">
            <router-link to="/profile-walkot" class="nav-link"> 
                <i class="fas fa-fw fa-user-circle"></i>
                <span>Profile </span>
            </router-link>
        </li>
        <li class="nav-item ">
            <router-link to="/history-walkot" class="nav-link"> 
                <i class="fas fa-fw fa-history"></i>
                <span>History</span>
            </router-link>
        </li>
        <li class="nav-item ">
            <router-link to="/information" class="nav-link"> 
                <i class="fas fa-fw fa-bullhorn"></i>
                <span>Information</span>
            </router-link>
        </li>
        <li class="nav-item ">
            <router-link to="/user-index" class="nav-link"> 
                <i class="fas fa-fw fa-file"></i>
                <span>Article</span>
            </router-link>
        </li>
    </ul>
</template>history-walkot